# Python
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Virtual env
.venv/
env/

# Conda
.env
.python-version

# Chroma
chroma/
data/chroma_db
notebooks/chroma_db

# Archive
data/archive/

# Graphic
data/*.jpg
data/*.png

# MD
docs/

# Ollama
models/

# PDF
data/knowledge_base/*.pdf

# Environment variable
*.env

# VS Code
.vscode/

# Setup info
src/sarma.egg-info
